*{margin:0;padding:0;}
.table {
    display: table;
    width: 100%;
}
.table > * {
    display: table-cell;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.page{
    width: 860px;
    margin: 0 auto;
    font-family: 'Ubuntu Condensed', 'Ubuntu', sans-serif;
    font-size: 90%;
}
.header{
    height: 40px;
    text-align: center;
    border-bottom: 2px solid cadetblue;
}
.menu-admin a {
    color: #00f1ff;
    text-decoration: none;
    font-weight: bold;
}
.menu-admin a:hover {
    color: #01bdff;
    text-decoration: underline;
}
.menu{
    display: inline-block;
    width: 25%; padding: 10px 0;
    border-right: 2px solid cadetblue;
    background: cadetblue;
}
.menu p{
    background: cadetblue;
}
.menu p:hover{
    background: #236264;
    color: aliceblue;
}
.menu p > a{
    font-size: 75%;
    padding: 3px 10px;
    color: aliceblue;
    text-decoration: none;
}
.menu p > a:hover{
    background: #236264;
    color: #01bdff;
}
.menu p > a:last-child{
    text-align: right;
}
.content{
    display: inline-block;
    width: 74%;
    float: right;
}
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    text-align: center;
    font-size: 75%;
    font-weight: bold;
}

.record{}
.back{
    text-align: right;
}
.back a{
    display: inline-block;
    padding: 2px 15px;
    background: cadetblue;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}
.record h2{
    padding-bottom: 10px;
}
.record .desc{
    padding-bottom: 10px;}
.record .author{
    font-size: 80%;
    font-weight: bold;
    color: indigo;
}

.records{
    padding: 5px 0;
    border-bottom: 1px solid cadetblue;
}
.records h2 a{
    color: #236264;
    text-decoration: none;
}
.records .desc{
    font-size: 80%;
    padding: 5px 0 5px 25px;
}
.records .more{
    text-align: right;
    margin-bottom: -5px;
}
.records .more a{
    display: inline-block;
    padding: 2px 15px;
    background: cadetblue;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}
.action {
    margin-top: 10px;
}
.button {
    display: inline-block;
    padding: 2px 15px;
    text-align: center;
    background: #236264;
    color: #01bdff;
    cursor: pointer;
}
.button:hover {
    background: #3ea6aa;
    color: aliceblue;
}